.image-container img {
    width: 100%;
    height: 200%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 58, 33, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}